---
import SvedenLayout from '../../layouts/SvedenLayout.astro';
---

<SvedenLayout title="Финансово-хозяйственная деятельность">
  <p>
    ЧУ&nbsp;ДПО&nbsp;«Луч» является негосударственной некоммерческой образовательной организацией,
    не&nbsp;получает субсидий, грантов и&nbsp;иного финансирования из&nbsp;федерального, регионального
    и&nbsp;муниципального бюджетов.
  </p>

  <h2>Источники финансирования</h2>
  <dl>
    <dt>Поступления за счёт бюджетных средств</dt>
    <dd>Отсутствуют</dd>

    <dt>Поступления по договорам об оказании платных образовательных услуг</dt>
    <dd>Единственный источник финансирования уставной деятельности</dd>
  </dl>

  <h2>Объём образовательной деятельности</h2>
  <p>
    Плановый объём образовательной деятельности определяется договорами на&nbsp;оказание платных
    образовательных услуг, заключёнными с&nbsp;физическими лицами. Фактический объём деятельности
    отражается в&nbsp;ежегодной финансовой отчётности, которая предоставляется в&nbsp;ФНС&nbsp;России.
  </p>

  <h2>Финансовая отчётность</h2>
  <p>
    Публичная бухгалтерская отчётность организации доступна на&nbsp;официальном ресурсе ФНС&nbsp;России
    в&nbsp;сервисе «Государственный информационный ресурс бухгалтерской отчётности» по&nbsp;ссылке
    <a href="https://bo.nalog.ru/organizations-card/11849557" target="_blank" rel="noopener">bo.nalog.ru</a>
    (ИНН 5905221816).
  </p>
</SvedenLayout>
