---
import SvedenLayout from '../../layouts/SvedenLayout.astro';
---

<SvedenLayout title="Образовательные стандарты и требования">
  <p>
    Федеральные государственные образовательные стандарты (ФГОС) к&nbsp;программам профессиональной
    подготовки водителей транспортных средств не&nbsp;применяются. Обучение ведётся в&nbsp;соответствии
    с&nbsp;примерными программами, утверждёнными Правительством&nbsp;РФ и&nbsp;Минпросвещения&nbsp;РФ.
  </p>

  <h2>Нормативные документы</h2>
  <ul>
    <li>
      Федеральный закон №&nbsp;273-ФЗ от&nbsp;29.12.2012 «Об&nbsp;образовании в&nbsp;Российской Федерации»&nbsp;—
      <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102162745" target="_blank" rel="noopener">официальный текст</a>
    </li>
    <li>
      Постановление Правительства РФ №&nbsp;1408 от&nbsp;01.11.2020 «Об&nbsp;утверждении Примерных программ
      профессионального обучения водителей транспортных средств соответствующих категорий и&nbsp;подкатегорий»&nbsp;—
      <a href="http://publication.pravo.gov.ru/Document/View/0001202011050017" target="_blank" rel="noopener">официальный текст</a>
    </li>
    <li>
      Приказ Минпросвещения РФ №&nbsp;505 от&nbsp;20.09.2021 «Об&nbsp;утверждении Правил проведения экзаменов
      на&nbsp;право управления транспортными средствами» (в&nbsp;действующей редакции)
    </li>
    <li>
      Приказ Минобразования РФ №&nbsp;292 от&nbsp;18.04.2013 «Об&nbsp;утверждении Порядка организации
      и&nbsp;осуществления образовательной деятельности по&nbsp;основным программам профессионального обучения»
    </li>
    <li>
      Постановление Правительства РФ №&nbsp;1441 от&nbsp;15.09.2020 «Об&nbsp;утверждении Правил оказания
      платных образовательных услуг»
    </li>
  </ul>

  <h2>Разработка и утверждение образовательных программ</h2>
  <p>
    Образовательные программы разработаны и&nbsp;утверждены ЧУ&nbsp;ДПО&nbsp;«Луч» самостоятельно
    на&nbsp;основе примерных программ Правительства&nbsp;РФ. Программы соответствуют требованиям
    приложения к&nbsp;действующей лицензии.
  </p>

  <p>
    Копии действующих программ размещены в&nbsp;разделе <a href="/sveden/education">«Образование»</a>.
  </p>
</SvedenLayout>
