---
import SvedenLayout from '../../layouts/SvedenLayout.astro';
---

<SvedenLayout title="Международное сотрудничество">
  <p>
    ЧУ&nbsp;ДПО&nbsp;«Луч» является региональной образовательной организацией, осуществляющей
    деятельность на&nbsp;территории Российской Федерации (Пермский&nbsp;край).
  </p>

  <p>
    Международные договоры в&nbsp;сфере образования организацией <strong>не&nbsp;заключались</strong>.
    Обучение иностранных граждан не&nbsp;ведётся. Международные образовательные программы
    не&nbsp;реализуются.
  </p>
</SvedenLayout>
