---
import SvedenLayout from '../../layouts/SvedenLayout.astro';
import { SITE } from '../../lib/site';

const totalSeats = SITE.branches.reduce((sum, b) => sum + (b.seats ?? 0), 0);
---

<SvedenLayout title="Вакантные места для приёма (перевода)">
  <p>
    Набор в&nbsp;учебные группы ЧУ&nbsp;ДПО&nbsp;«Луч» ведётся <strong>круглогодично</strong>.
    Фактическое количество свободных мест в&nbsp;каждой группе уточняется при&nbsp;обращении
    в&nbsp;приёмную&nbsp;— тел. <a href={`tel:${SITE.phones[1].tel}`}>{SITE.phones[1].label}</a>.
  </p>

  <h2>Вакантные места по основным программам</h2>
  <table>
    <thead>
      <tr>
        <th>Программа</th>
        <th>Источник финансирования</th>
        <th>Мест в группе (максимум)</th>
        <th>Статус приёма</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Профессиональная подготовка водителей категории B</td>
        <td>Платные образовательные услуги</td>
        <td>{totalSeats}</td>
        <td>Открыт, круглогодично</td>
      </tr>
      <tr>
        <td>Профессиональная подготовка водителей категории A</td>
        <td>Платные образовательные услуги</td>
        <td>по индивидуальному графику</td>
        <td>Открыт, круглогодично</td>
      </tr>
    </tbody>
  </table>

  <p>
    Приём на&nbsp;обучение за&nbsp;счёт средств бюджета&nbsp;РФ, субъектов&nbsp;РФ, муниципальных
    бюджетов&nbsp;не&nbsp;осуществляется.
  </p>
</SvedenLayout>
